{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Панель управления
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/panel.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'main/js/panel.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="#" method="post" class="form-with-validation middle-form group-add hide" id="group-add">
        {% csrf_token %}
        <h4>Добавление группы</h4>
        <div class="form-wrapper">
            <div class="alert alert-warning empty" id="group-alert">
                empty
            </div>
            {% for field in groupForm %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Продолжить</button>
            </div>
    </form>
    <form action="#" method="post" id="group-name" class="form-with-validation middle-form group-name hide">
        <h4>Это ваша группа?</h4>
        <div class="form-wrapper">
            <div class="form-group">
                <label for="name">Название группы:</label>
                <input type="text" name="name" class="form-control" id="name" readonly>
            </div>
        </div>
        <div class="btn-container">
            <button class="btn btn-danger" id="group-no">Нет</button>
            <button class="btn btn-success" id="group-yes">Да</button>
        </div>
    </form>
    <form action="#" method="post" class="form-with-validation middle-form group-confirm hide" id="group-confirm">
        {% csrf_token %}
        <h4>Подтверждение группы</h4>
        <div class="form-wrapper">
            <div class="alert alert-warning empty" id="confirm-alert">
                empty
            </div>
            {% for field in codeForm %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col groups">
                <div clas="group-wrapper">
                    <h3>Группы</h3>
                    {% if group_count < 1 %}
                        <div class="group-empty">
                            <h4>У вас нет групп, желаете добавить?</h4>
                            <div class="button-container">
                                <button id="add-group" class="add-group">Добавить группу</button>
                            </div>
                        </div>
                    {% else %}
                    <ul class="list-group">
                        {% for gr in groups %}
                            <li class="list-group-item" id="group{{ gr.id }}">
                                <a href="?action=select-group&id={{ gr.id }}">
                                    {{ gr.name }}
                                    {{group.id}}
                                </a>
                                {% if group.id == gr.id %}
                                    {% if bots %}
                                        {% for bot in bots %}
                                            <li class="list-bot-item" id="bot{{ bot.id }}">
                                                <a href="?action=select-bot&id={{ bot.id }}">
                                                    {{ bot.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                                {% if gr.status == 0 %}
                                    <img src="{% static 'main/img/wait.svg' %}" class="group-status">
                                {% elif gr.status == -1 %}
                                    <img src="{% static 'main/img/error.svg' %}" class="group-status">
                                {% endif %}
                            </li>
                        {% endfor %}
                        <li class="list-group-item group-add-li" id="group{{ group.id }}">
                            <button id="add-group">
                                Добавить группу
                            </button>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-8 management">
                Панель
            </div>
        </div>
    </div>
{% endblock %}