{% extends 'base.html' %}

{% block title %} Debug page {% endblock %}

{% block content %}
    <h1>Callbacks:</h1>
    <table class="table table-bordered">
        <tr>
            <th>---</th>
        </tr>
        {% for callback in callbacks %}
            <tr>
                Callback:{{ callback }}
            </tr>
        {% endfor %}
    </table>
    <div class="row">
        <a class="btn btn-default" href="{% url 'confirm' %}">Group Confirm</a>
        <a class="btn btn-default" href="{% url 'index' %}">Index Page</a>
    </div>
{% endblock %}