{% extends 'base.html' %}

{% block title %} VK Confirmation {% endblock %}

{% block content %}
    <form class="form-with-validation" action="{% url 'confirm-post' %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-default">Confirm</button>
    </form>
    <br>
    <div class="row">
        <a class="btn btn-default" href="{% url 'debug' %}">Debug Page</a>
        <a class="btn btn-default" href="{% url 'index' %}">Index Page</a>
    </div>
{% endblock %}